.App {
  margin: 20px;
  border: 1px solid black;
}

.ticket-tracker {
  border: 1px solid black;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


